.container{
  background-color: #32383D;
  color: #F3F5F8;
}
.leagueNav {
  color: #009BFF;
}
.table--fixed th,
.table--fixed td {
  padding: 8px;  
}

.table--fixed thead th {
  background-color:#333;
  color:white;
}

.table--fixed tbody tr:nth-child(odd){
  background-color:black;
}

.table--fixed {
  display: flex;
  width: 25%;
  flex-flow: column;
}

.table--fixed thead {
  display: block;
  > tr {
    display: flex;
    >th {
      flex: 1;      
    }
    >th:nth-child(2) {
      flex: 0 0 20px;
    }
  }
}

.table--fixed tbody { 
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.table--fixed tbody {
  display: block;
  > tr {
    display: flex;
    // flex-wrap:nowrap;
    >td {
      flex: 1;
      // display:flex;
      // justify-content:flex-start;
    }
    >td:nth-child(2){
      flex: 0 0 26px;
    }
  }
}