<html>
<head>
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
  <style>
    body { padding-top:80px; }
  </style>
  <title>Create New League</title>
</head>
<body style='background-color: silver'>
  <div class='container'>
    <div class='col-sm-6 col-sm-offset-3'>
      <h1>Create New League</h1>
      <form action='/api/createNewLeague' method='post'>
        <div class='form-group'>
          <label>League Name</label>
          <input type='text' class='form-control' name='leagueName'>
        </div>
        <button type='submit' class='btn btn-danger btn-lg'>Create</button>
      </form>
    </div>
  </div>
</body>
</html>

  